{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<h4>Reset Password</h4>
			<form method="POST">
				<p>Please enter your email address</p>
				{% csrf_token %}
				<p>
					<label for="id_email">Email address:</label>
					{{ form.email }}

					{% if form.email.errors%}
					<div class="form-message">
						{{ form.email.errors }}
					</div>
					{% endif %}
					
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</p>
			</form>
		</div>
	</div>
</div>
{% endblock %}	
