{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<h4>Reset Password</h4>
			<form method="POST">
				<p>Please enter your New Password</p>
				{% csrf_token %}
				
				<label for="id_email"></label>
				{{ form.new_password1 }}
				
				{% if form.new_password1.errors%}
				<div class="user-message">
					{{ form.new_password1.errors }}
				</div>
				{% endif %}

				{{ form.new_password2 }}
				{% if form.new_password2.errors%}
				<div class="user-message">
					{{ form.new_password2.errors }}
				</div>
				{% endif %}

				<button type="submit" class="btn btn-primary">Confirm Changes</button>
				
			</p>

		</form>
	</div>
</div>
</div>
{% endblock %}	