{% extends "base.html" %} 
{% load static from static %} 
{% load bootstrap_tags %}
{% block content %} 
<div class="container">
	<div class="row">
		<div class="col s12">
			{% if review %}
			<div>
				{% for review in review %}
				<div>
					<h5>{{ review.product.name }}</h5>
					<h6>rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
					<p>{{ review.comment }}</p>
				</div>
				{% endfor %}
			</div>
			{% else %}
			<p>No reviews are available.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}