{% extends "base.html" %} 
{% load static from static %} 
{% load bootstrap_tags %} 
{% block content %}
<div class="container">
    <div class="row">    
        {% for item in product %}
        <div class="col xl12 s12">
            <div class="card">
                <div class="card-content">
                    <h5>{{ item.name }} - <span class="price-float">{{ item.price }}</span></h5>
                </div>
                <div class="card-image">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item red white-text" href="#one!">

                            <img src="{{MEDIA_URL}}{{ item.image_one }}">
                        </div>
                        <div class="carousel-item amber white-text" href="#two!">

                            <img src="{{MEDIA_URL}}{{ item.image_two }}">
                        </div>
                        <div class="carousel-item green white-text" href="#three!">                           
                            <img src="{{MEDIA_URL}}{{ item.image_three }}">
                        </div>
                        <div class="carousel-item blue white-text" href="#four!">
                            <img src="{{MEDIA_URL}}{{ item.image_four }}">
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <p>{{ item.description_line_one }}</p>
                    <p>{{ item.description_line_two }}</p>
                    <p>{{ item.description_line_three }}</p>
                    <p>{{ item.description_line_four }}</p>
                </div>
                <div class="card-action">
                    <div class="col">
                        {% if item.quantity > 0 %}
                        <form class="form-buttons" method="post" action="{% url 'add_to_cart' item.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="button-padding waves-effect waves-light btn-small red" type="submit"><i class="material-icons left">add_shopping_cart</i><span class="tiny-hide">Add</span></button>
                                </span> 
                            </div>
                        </form>
                        {% else %}  
                        <form class="form-buttons" method="post" action="{% url 'add_to_cart' item.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="button-padding waves-effect waves-light btn-small red" type="submit" disabled><i class="material-icons left">add_shopping_cart</i><span class="tiny-hide">Add</span></button>
                                </span> 
                            </div>
                        </form>
                        {% endif %}
                    </div>
                    <div class="col xl8 l6 m7 s3">
                        <form class="form-buttons" method="post" action="{% url 'add_to_compare' item.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="button-padding waves-effect waves-light btn-small" type="submit"><i class="material-icons left">compare_arrows</i><span class="tiny-hide">Compare</span></button>
                                </span> 
                            </div>
                        </form>
                    </div>
                    {% if item.quantity > 0 %}              
                    <div class="col xl2 l2 m2 s5">
                        <span class="new badge" data-badge-caption="In stock">{{ item.quantity | floatformat }}</span>
                    </div>
                    {% elif product.quantity > 0 %}
                    <div class="col xl2 l2 m2 s5">
                        <span class="new badge orange" data-badge-caption="Low stock">{{ product.quantity | floatformat }}</span>
                    </div>
                    {% else %}
                    <div class="col xl2 l2 m2 s5">
                        <span class="new badge red" data-badge-caption="Out of stock"></span>
                    </div>
                    {% endif %}
                </div> 
                <div class="card-content">
                    <h5>Rating</h5>
                    <h6>{{ item.review_set.count }} 
                        reviews 
                        {% if item.review_set.count > 0 %}
                        ({{ item.average_rating | floatformat }} average rating)
                        {% endif %}
                    </h6>
                    <h5>Recent reviews</h5>
                    {% if item.review_set.all %}    
                    {% for review in item.review_set.all %}                      
                    <em>{{ review.comment }}</em>
                    <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
                    <hp><a href="{% url 'one_review' review.id %}">
                        Read more
                    </a></hp>                      
                    {% endfor %}                   
                    {% else %}
                    <p>No reviews for this product yet</p>
                    {% endif %}

                    <h5>Add your review</h5>
                    <div class="row">
                        <form id="review" action="{% url 'add_review' item.id %}" method="post" class="col s12">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.rating}}
                                    <label for="rating">Choose your rating between 1 and 5</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.comment }}
                                    <label for="comment">Leave a comment</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <span class="input-group-btn">
                                        <button class="button-padding waves-effect waves-light btn-small red" type="submit"><i class="material-icons left">edit</i><span>Add Review</span></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col s12">
            <a href="{% url 'checkout' %}" class="btn waves-effect waves-light button-margin-top" role="button"><i class="material-icons right">done</i>Checkout</a>
        </div>  
    </div>
</div>
{% endblock %}

