{% extends 'base.html' %}

{% block content %}

<!--Banner adds-->
<div class="container">
	<div class="row">
		<div class="col xl8 l12 m12">
			<div class="card" id="card-display">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{{MEDIA_URL}}{{ 'images/gibson_banner_two.png' }}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Gibson Les Paul<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">An International Icon<i class="material-icons right">close</i></span>
					<p>
						The Gibson Les Paul is a solid body electric guitar that was first sold by the Gibson Guitar Corporation in 1952.[1] The Les Paul was designed by Gibson president Ted McCarty, factory manager John Huis and their team with some input from and endorsement by guitarist Les Paul. Its typical design features a solid mahogany body with a carved maple top and a single cutaway, a mahogany set-in neck with a rosewood fretboard, two pickups with independent volume and tone controls, and a stoptail bridge, although variants exist. 
					</p>
					<p><a href="{% url 'guitars' %}">Browse Gibson <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>

		<div class="col xl4 l6 m6 s12">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{{MEDIA_URL}}{{ 'images/fender_banner.png' }}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Fender Stratocaster<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">An International Icon<i class="material-icons right">close</i></span>
					<p>
						The Stratocaster was the first Fender guitar to feature three pickups and a spring tension vibrato system, as well as being the first Fender with a contoured body.The Stratocaster's sleek, contoured body shape (officially referred to by Fender as the "Original Contour Body") differed from the flat, squared edge design of the Telecaster. The Stratocaster's double cutaways allowed players easier access to higher positions on the neck.
					</p>
					<p><a href="{% url 'guitars' %}">Browse Fender <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>

		<div class="col xl4 l6 m6 s12">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{{MEDIA_URL}}{{ 'images/mapex_banner.png' }}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Mapex Saturn<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">An International Icon<i class="material-icons right">close</i></span>
					<p>
						The Saturn line is constructed of maple and walnut (the oldest lines were made of basswood or mahogany instead of walnut). The kit is constructed of 6 plies of wood for a shell thickness of 5.1 millimeters. It shares a number of options with both the Mars and Orion line, but is not available with birdseye maple plies. Saturn kits come in a variety of lacquer and wrap finishes (including bursts, sparkles and fades) and come with the option of black or chrome hardware. The Saturn has become very popular, as the thinner hybrid shells provide a lower/warmer/darker fundamental tone than similar all-maple shells. Although they are priced as midrange drums, they are considered a fully professional kit and used by recording artists such as Chris Adler from Lamb of God, who recently switched over to the new Black Panther line of drums.
					</p>
					<p><a href="{% url 'drums' %}">Browse Mapex <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Hot/New products for sale-->
<div class="container">
	<div class="row">
		<div class="col">	
			<h4 class="center">New Products!</h4>
		</div>
	</div>
	<div class="row">
		{% for product in products %}
		<div class="col xl3 l6 m6 s6">
			<div class="card">
				<div class="card-image">
					<img src="{{MEDIA_URL}}{{ product.image_one }}">
				</div>
				<div class="card-content">
					<span id="card-title-mod" class="card-title grey-text text-darken-4">{{ product.name }}</span> 
					<span>
						<p>{{ product.price }}
							<a href="{% url 'single' product.id %}" class="btn-floating halfway-fab right waves-effect waves-light red">
								<i class="fa fa-external-link" aria-hidden="true">	
								</i>
							</a>
						</p>
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>
{% endblock %}