{% extends 'base.html' %}

{% block content %}

<!--Banner adds-->
<div class="container">
	<div class="row">	
		{% for banner in banners %}
		{% if banner.name == "large one" %}
		<div class="col xl8 l12 m12">
			<div class="card" id="card-display">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{{MEDIA_URL}}{{ banner.image}}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{ banner.title }}<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{ banner.tag }}<i class="material-icons right">close</i></span>
					<p>{{ banner.description }}</p>
					<p><a href="{% url 'guitars' %}">Browse {{ banner.title }} <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
		{% endif %}
		{% if banner.name == "small one" %}
		<div class="col xl4 l6 m6 s12">
			<div class="card" id="card-display">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{{MEDIA_URL}}{{ banner.image}}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{ banner.title }}<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{ banner.tag }}<i class="material-icons right">close</i></span>
					<p>{{ banner.description }}</p>
					<p><a href="{% url 'guitars' %}">Browse {{ banner.title }} <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
		{% endif %}
		{% if banner.name == "small two" %}
		<div class="col xl4 l6 m6 s12">
			<div class="card" id="card-display">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{{MEDIA_URL}}{{ banner.image}}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{ banner.title }}<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{ banner.tag }}<i class="material-icons right">close</i></span>
					<p>{{ banner.description }}</p>
					<p><a href="{% url 'guitars' %}">Browse {{ banner.title }} <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

<!--Hot/New products for sale-->
<div class="container">
	<div class="row">
		<div class="col">	
			<h4 class="center">New Products!</h4>
		</div>
	</div>
	<div class="row">
		{% for product in products %}
		<div class="col xl3 l6 m6 s12">
			<div class="card">
				<div class="card-image">
					<img src="{{MEDIA_URL}}{{ product.image_one }}">
				</div>
				<div class="card-content">
					<span id="card-title-mod" class="card-title grey-text text-darken-4">{{ product.name }}</span>
					<p>{{ product.name_overflow }}</p>
					<span>
						<p>{{ product.price }}
							<a href="{% url 'single' product.id %}" class="btn-floating halfway-fab right waves-effect waves-light red">
								<i class="fa fa-external-link" aria-hidden="true">	
								</i>
							</a>
						</p>
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col s12">
				{% if products.has_other_pages %}
				<ul class="pagination">
					{% if products.has_previous %}
					<li class="waves-effect"><a href="?page={{ products.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
					{% else %}
					<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
					{% endif %}
					{% for i in products.paginator.page_range %}
					{% if products.number == i %}
					<li class="active red"><a href="#!">{{ i }}</a></li>
					{% else %}
					<li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
					{% endfor %}
					{% if products.has_next %}
					<li class="waves-effect"><a href="?page={{ products.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
					{% else %}
					<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
