{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<h4>Login</h4>
			<p>If you don't have an account, please click <a href="{% url 'registration' %}">here</a> to register.</p>
			
			<form method="POST">
				{% csrf_token %}
				{{ login_form | as_bootstrap }}
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
		</div>
	</div>
</div>
{% endblock %}


