{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
	<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{% static 'js/materialize_initialize_script.js' %}"></script>
	<title>Shop|Test</title>
</head>
<body>
	<header>
		<div id="main-nav-background" class="row">
			<div class="col xl10 l12 m12 s12">
				<nav id="main-nav">	
					<div class="row">
						<div class="col s12 teal darken-4">
							<div class="nav-wrapper">
								<a href="{% url 'index' %}" class="brand-logo">
									<span class="music-logo">
										<i class="fa fa-music" aria-hidden="true"></i>
									</span>MuShop</a>
									<a href="#" data-target="popout-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
									<ul class="right hide-on-med-and-down">
										<li><a href="{% url 'products' %}">All Products</a></li>
										<li><a href="{% url 'guitars' %}">Guitars</a></li>
										<li><a href="{% url 'amps' %}">Amps</a></li>
										<li><a href="{% url 'drums' %}">Drums</a></li>
										<li><a href="{% url 'keys' %}">Keys</a></li>
										<li><a href="{% url 'studio' %}">Studio</a></li>
										{% if user.is_authenticated %}
										<li><a href="{% url 'profile' %}"><i class="material-icons left">person</i>Profile</a></li>
										<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-lg left"></i>Logout</a></li>
										{% else %}
										<li><a href="{% url 'login' %}"><i class="fa fa-sign-in fa-lg left"></i>Login</a></li>
										<li><a href="{% url 'registration' %}"><i class="material-icons left">person_add</i>Register
										</a></li>
										{% endif %}
										<li><a href="{% url 'view_compare' %}"><i class="material-icons left">compare_arrows</i><span class="small-hide">Compare</span>
											{% if compare_count > 0 %}
											<span class="new badge" data-badge-caption="">{{ compare_count }}</span>
											{% endif %}
										</a></li>
										<li><a href="{% url 'view_cart' %}"><i class="material-icons left">shopping_cart</i><span class="small-hide">Cart</span>
											{% if product_count > 0 %}
											<span class="new badge red" data-badge-caption="">{{ product_count }}</span>
											{% endif %}
										</a></li>
									</ul>
								</div>
							</div>	
						</div>
					</nav>
				</div>

				<!--Side navigation menu-->
				<ul class="sidenav" id="popout-menu">
					<li><a href="{% url 'index' %}"><i class="material-icons left">home</i>Home</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'profile' %}"><i class="material-icons left">person</i>Profile</a></li>
					<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-lg left"></i>Logout</a></li>
					{% else %}
					<li><a href="{% url 'login' %}"><i class="fa fa-sign-in fa-lg left"></i>Login</a></li>
					<li><a href="{% url 'registration' %}"><i class="material-icons left">person_add</i>Register
					</a></li>
					{% endif %}
					<li><a href="{% url 'view_compare' %}"><i class="material-icons left">compare_arrows</i><span>Compare</span>
						{% if compare_count > 0 %}
						<span class="new badge" data-badge-caption="">{{ compare_count }}</span>
						{% endif %}
					</a></li>
					<li><a href="{% url 'view_cart' %}"><i class="material-icons left">shopping_cart</i><span>Cart</span>
						{% if product_count > 0 %}
						<span class="new badge  red" data-badge-caption="">{{ product_count }}</span>
						{% endif %}
					</a></li>
					<li><a href="{% url 'products' %}"><i class="material-icons left">store</i>All Products</a>
						<ul>
							<li><a href="{% url 'guitars' %}"><i class="material-icons">keyboard_arrow_right</i>Guitars</a></li>
							<li><a href="{% url 'amps' %}"><i class="material-icons">keyboard_arrow_right</i>Amps</a></li>
							<li><a href="{% url 'drums' %}"><i class="material-icons">keyboard_arrow_right</i>Drums</a></li>
							<li><a href="{% url 'keys' %}"><i class="material-icons">keyboard_arrow_right</i>Keys</a></li>
							<li><a href="{% url 'studio' %}"><i class="material-icons">keyboard_arrow_right</i>Studio</a></li>
						</ul>								
					</li>
				</ul>

				<div class="col xl2 l12 m12 s12">
					<nav id="search-nav">
						<div class="nav-wrapper">
							<form action="{% url 'search' %}" method="get">
								<div class="input-field" id="main-nav-search" >
									<input id="search-bar" type="search" name="results" required>
									<label class="label-icon" for="search" ><i id="search-icon" class="material-icons">search</i></label>
									<i class="material-icons">close</i>
								</div>
							</form>
						</div>

					</nav>
				</div>
			</div>
		</header>
		<main>
			<div class="container">
				<div class="row">
					{% if messages %}
					<div class="col s12">
						<div class="user-message">
							<h6>
								{% for message in messages %}
								{{ message }}
								{% endfor %}
							</h6>
						</div>
					</div>
					{% endif %}
					{% block content %}
					
					{% endblock %}
				</div>
			</div>
		</main>

		<footer class="page-footer teal darken-4">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<div class="col xl8 l8 m8 s12">
							<h5 class="white-text">Payment & Security</h5>
							<p class="grey-text text-lighten-4">We use Stripe for secure payments.</p>
							<p><i class="fa fa-4x fa-cc-stripe" aria-hidden="true"></i></p>

						</div>
						<div class="col xl4 l4 m4 s12">
							<h5 class="white-text">Stay up to date</h5>
							<ul>
								<li class="list-item-style"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
								<li class="list-item-style"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
								<li class="list-item-style"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>
								<li class="list-item-style"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a></li>
								<li class="list-item-style"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2020 Oliver Deegan
					<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
				</div>
			</div>
		</footer>
	</body>
	</html>
